.results{
  background-color: #004047;
padding-top: 140px;
padding-bottom: 164px;
background-repeat: no-repeat;
background-image: url(../img/results_bgr__img.svg),url('../img/results__background__img.svg');
background-position: left top,right bottom;

}
.results__title{

  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}
.active{
  color: #79c8c7;}
  .results__text{
    font-weight: 600;
    font-size: 15px;
    line-height: 167%;
    color: #fff;
    margin-bottom: 16px;
    &::before{
      background-repeat: no-repeat;

    }

  }
  .results__text__name{
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #79c8c7;
    margin-bottom: 2px;
  }
  .results__text__name__job{

    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    color: #fff;
    margin-bottom: 16px;
  }
  .results__item{
    padding-top: 40px;
    text-align: center;
    &:not(:last-child){
      margin-bottom: 48px;
    }
    background-repeat: no-repeat;
    background-image: url(../img/results__icon.svg);
    background-position: center top ;

  }
.item__1::after{
  content:"";
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-image: url('../img/results__profile__1.svg');
  display: inline-block;
  &::after{
    flex-shrink: 0;
  }
}
.item__2::after{
  content:"";
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-image: url('../img/results__profile__2.svg');
  display: inline-block;
  &::after{
    flex-shrink: 0;
  }
}
.item__3::after{
  content:"";
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-image: url('../img/results__profile__3.svg');
  display: inline-block;
  &::after{
    flex-shrink: 0;
  }
}
@media screen and (min-width:768px){

    .results__title{
max-width: 460px;
margin-left: auto;
margin-right: auto;
    }

  }
  @media screen and (min-width:1100px) {
    .results__list{
      display: flex;
      gap: 30px;
    }
    .results__title{
      font-size: 48px;
      line-height: 100%;
      max-width: 932px;
margin-left: auto;
margin-right: auto;
    }

  }
